// Файл: src/scss/_base.scss

html {
  box-sizing: border-box;
  scroll-behavior: smooth; // Додамо плавний скрол для якірних посилань
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $main-font, sans-serif; // Використовуємо SCSS-змінну для шрифта
  font-size: 16px;
  line-height: 1.5;

  // ВИКОРИСТОВУЄМО CSS-ЗМІННІ ДЛЯ КОЛЬОРІВ
  background-color: var(--background-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-family: $header-font, sans-serif;
  font-size: 54px; // Приблизний розмір, підберіть по макету
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
