// Fonts
$header-font: Gilroy-SemiBold;
$Gilroy-font: Gilroy;
$light-font: Gilroy-Light;
$main-font: Gilroy-Regular;
$medium-font: Gilroy-Medium;
$inter-font: Inter;
$bold-font: Gilroy-Bold;
$footer-font: Gilroy-Regular;
// Colors
$bg-color: #f5f3ea;
$border-text-btn-color: #252525;
// Breakpoints (точки перелома для адаптива)
$tablet: 768px;
$desktop: 1200px;
